
/*/HEADER/*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: linear-gradient(to right,rgba(255, 255, 255, .5), #2BFFD9);
}
.announcementbar {
  color: whitesmoke;
  font-weight: bolder;
  text-shadow: 6px 5px 11px rgba(0,0,0);

}
.searchbar {
  background-color: whitesmoke;
  height: 25px;
  width: 120px;
  border: black rgba(0,0,0,0.5) solid;
  -webkit-box-shadow: 10px 3px 18px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 3px 18px -11px rgba(0,0,0,0.75);
  box-shadow: 10px 3px 18px -11px rgba(0,0,0,0.75);
}
.nav {
  height: 40px;
  display: flex;
  justify-content: space-between;

}
.left-nav, .right-nav {
  display: flex;
/*  justify-content: flex-start;*/
  align-items: center;
}

.left-nav div, .right-nav div {
  padding: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 23px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 23px -3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 15px 1px rgba(255,255,255,0.5);
  border-bottom: black 1px solid;
  border-radius: 5px;
  transition: 1s;
  background-color: rgba(42,41,68, .95);
  color: rgba(255, 105, 180);;

}
.left-nav div:hover, .right-nav div:hover {
 scale: 1.1;
}
.banner {
  background: url("./assets/banner.png");
  background-position: "center top";
  background-repeat: "no-repeat";     
  border-radius: 100px;
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
 
}
.banner .calltoaction {
  animation: slider infinite 10s linear;
  margin-left: 1000px;
  width: 400px;
  background: linear-gradient(to right,rgba(255, 255, 255, .5), rgba(43, 255, 217, 1.0));
  border-radius: 200px 57px 47px 200px;
  -moz-border-radius: 200px 57px 47px 200px;
  -webkit-border-radius: 200px 57px 47px 200px;

}
.bannerbutton {
  height: 50px;
  width: auto;
  background-color: orange;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.3rem;
  cursor: pointer;
  color: whitesmoke;
  border: solid whitesmoke 1px;
  box-shadow: inset 0px 0px 20px -3px rgba(255, 255, 255, 1.0);
/*  box-shadow:  0px 0px 20px -3px rgba(255, 255, 255, 1.0);*/
  transition: 1s;
}
.bannerbutton:hover {
   box-shadow: inset 0px 0px 40px -3px rgba(0, 0, 0, 1.0);
   border: none;
/*   animation: logo-spin infinite 10s linear;*/
}
.banner h1 {
  animation: shrinker infinite 10s linear;
}

.blobbackgroundtext {
 /* position: absolute;
  top: 280px;
  right: 290px;*/
  font-size: 1.3rem;
  color: white;
}
.carousel {
  cursor: grab;
  border-radius: 20px;
  border: purple 2px solid;
  overflow: hidden;
  margin: 0 20%;
/*  margin-left: auto;
  margin-right: auto;*/
  background-color: rgba(255, 105, 180);
  box-shadow: inset 0px 0px 20px 3px rgba(255, 255, 255, 1.0);



}
.innercarousel {
  display: flex;
/*  align-items: center;*/

}
.item {
  min-height: 350px;
  min-width: 350px;
  padding: 20px;
}
.item img {
  height: 100%;
  width: 100%;
  border: #2BFFD9 3px solid;
  margin: 10px;
  border-radius: 100px;
  box-shadow: inset 0px 0px 20px -5px rgba(255, 255, 255, 1.0);
  pointer-events: none;
}
.footer {

}

.footernav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footernav div {
  font-weight: bolder;
  font-size: 1.5rem;
  border: #2BFFD9 1px solid;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: #2A2944;
  color:  #2BFFD9;
  cursor: pointer;
  box-shadow: inset 0px 0px 20px -5px rgba(255, 255, 255, 1.0);
  transition: 1s;
}
.footernav div:hover {
  transform: scale(1.2);
}
.footerlinks {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, .6);
  padding: 5px 0px;
  margin: 0 3%;
}
.footerlinks a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
}


/*.progress-bar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, white 79%, transparent 80% 100%),
    conic-gradient(#2BFFD9 75%, rgba(43, 255, 217, .3) 0);    
}*/

@keyframes shrinker {
  from {
    transform: scale(2.0);
  } 
  to {
    transform: scale(1.0);
  }
}
@keyframes cancelslider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slider {
  from {
    transform: translateX(85%);
  }
  to {
    transform: translateX(-55%);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 920px) {
  .banner {
    height: 40vh;
    max-width: 100%;
  }
  .banner h1 {
    font-size: 1.7rem;
  }
  .calltoaction {
    display: none;
  }
  .carousel {
    margin: 5% 5%;
    padding: 0 1%;
  }
}